.searchContainer {
  position: relative;
  display: flex;
  align-items: center;
  /* padding: 0 1rem; */
}

.searchInput {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 0.7rem;
  backdrop-filter: blur(5px);
  position: absolute;
  right: 80%;
  bottom: -5px;
  width: 150px;
}

.searchInput:focus {
  outline: none;
  border-color: skyblue;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.resultsContainer {
  position: absolute;
  z-index: 1;
  bottom: 130%;
  right: 110%;
  width: 300px;
  background-color: var(--background);
  border-radius: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  max-height: 400px;
  overflow: auto;
}

.resultsList {
  list-style: none;
  padding: 0.5rem;
  margin: 0;
}

.resultItem {
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
}

.resultItem:last-child {
  border-bottom: none;
}

@media (max-width: 600px) {
  .searchInput {
    font-size: 1rem;
  }
}

.resultsContainer a {
  color: #000;
}

.resultsContainer h3 {
  font-weight: 300;
}
