.container {
  position: fixed;
  top: 4.5rem;
  right: -2rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
  transform: rotate(45deg); /* Çapraz köşe efekti */
  animation: slideIn forwards ease-in 1s;
}

.flagWrapper {
  display: inline-block;
}

.flag {
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

@keyframes slideIn {
  from {
    right: -10%;
    top: -10%;
  }
}

@media (max-width: 768) {
  .container {
    top: 0;
    right: -4rem;
  }
}
