.actionButtons {
  position: fixed;
  right: 1rem;
  bottom: 6rem;
  display: grid;
  place-items: center;
  gap: 0.5rem;
  max-width: 50px;
}

@media (max-width: 768px) {
  .actionButtons {
    bottom: 7rem;
    right: 1rem;
  }
}

.actionButtons button {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0.5rem;
  transition: all 0.2s ease-in-out;
  backdrop-filter: blur(5px);
}

.actionButtons button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  scale: 1.1;
}

.hamburgerButton {
  display: none;
}

.buttonsWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 768px) {
  .hamburgerButton {
    width: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
  }

  .buttonsWrapper {
    display: none;
  }

  .buttonsWrapper.open {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.hamburgerButton span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #000;
  border-radius: 6px;
  transition: 0.3s;
}
