.supportButton {
  position: fixed;
  bottom: 5px;
  left: 5px;
  transition: all 0.2s ease-in-out;
  opacity: 0.8;
  border-radius: 3px;
  padding: 0.5rem;
  color: #fff;
  padding-top: 0.3rem;
  font-size: 0.9rem;
  background: #e30a17;
}

.supportButton:hover {
  background-color: #fff;
  color: #e30a17;
}

@media (max-width: 600px) {
  .supportButton {
    bottom: 6rem;
  }
}
