.timeline {
  display: flex;
  align-items: center;
  transition: all 0.5s ease-in-out;
  padding: 1rem;
  width: max-content;
  position: fixed;
  bottom: 1rem;
  margin-inline: auto;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
  user-select: none;
}

.timelineContainer {
  max-width: 40dvw;
  position: relative;
  margin-inline: auto;
  display: flex;
  gap: 1rem;
  border-radius: 3rem;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 1rem;
}

.timelineItem {
  all: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  transition: all 0.5s ease-in-out;
  font-size: 0.9rem;
  cursor: pointer;
}
.timelineItem:hover:not(.active) .timelineDate {
  color: #ff0000;
}
.timelineItem.active {
  cursor: default;
}

.timelineItem:not(.active):hover .timelineDate {
  transform: scale(1.3);
  transition: transform 0.2s ease-in-out;
}

.timelineDate {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 1.5rem;
  position: relative;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

.active .timelineDate:hover {
  transition: all 0.3s ease-in-out;
}

.active .timelineDate:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  animation: shimmer 0.6s ease-in-out;
}

@keyframes shimmer {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
  transition: color 0.2s ease-in-out;
}

.timelineItem::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 10px;
  background: #000;
  left: 50%;
  bottom: 140%;
}

.timelineItem::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 10px;
  background: #000;
  left: 50%;
  top: 140%;
}

.active::before,
.active::after {
  display: none;
}

.actionButton {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  scale: 0.8;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.actionButton:hover {
  scale: 1;
}

@media (max-width: 600px) {
  .timelineContainer {
    max-width: 70dvw;
  }

  .timelineItem {
    font-size: 0.7rem;
  }

  .actionButton {
    scale: 0.6;
  }

  .active {
    font-size: 0.6rem;
    margin-inline: 0.5rem;
  }
}

.dotsWrapperFromTop,
.dotsWrapperFromBottom {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 0.04rem;
}
.dotsWrapperFromTop {
  top: -10%;
}
.dotsWrapperFromBottom {
  bottom: -10%;
}

.dot {
  width: 0.15rem;
  height: 0.8rem;
  background-color: #ff0000;
  display: inline-block;
  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
  transform: scale(0.3);
  cursor: pointer;
  transform-origin: center;
}

.dot:hover {
  transform: scale(0.9);
  background-color: #ff0000;
}

.dotActive {
  background-color: #ff0000;
  transform: scale(0.5);
}

.active {
  scale: 3;
  margin-inline: 2rem;
  color: #000;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.active:hover {
  transition: transform 0.2s ease;
}
.active .timelineDate {
  pointer-events: none;
  cursor: default;
  transition: scale 0.2s ease;
  scale: 0.7;
}
.active:not(.single):hover .timelineDate {
  scale: 0.4;
}
.active:hover .dot {
  transform: scale(0.5);
}
.active:hover .dot:hover {
  transform: scale(0.8);
}
