.streetView {
  position: fixed;
  bottom: 3rem;
  right: 2rem;
  scale: 1.5;
  background-color: rgba(255, 166, 0, 0.397);
  fill: orange;
  padding: 0.3rem;
  border-radius: 50%;
}

.streetView:hover {
  scale: 2;
  transition: scale 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .streetView {
    bottom: 7rem;
    right: 1rem;
  }
}
